<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Slacker News</title>
    <link href="styles.css" rel="stylesheet" type="text/css" />
  </head>

  <body>

    <div class="body-container">

      <div class="navigation-container">
        <ul class="nav">
          <li class="logo">
            <img src="y18.gif" class="image-border">
          </li>
          <li>
            <a href="/" id="home">Slacker News</a>
          </li>
          <li>
            <a href="#">new</a>
          </li>
          <li> | </li>
          <li>
            <a href="comments.html">comments</a>
          </li>
          <li> | </li>
          <li>
            <a href="#">ask</a>
          </li>
          <li> | </li>
          <li>
            <a href="#">jobs</a>
          </li>
          <li> | </li>
          <li>
            <a href="#">submit</a>
          </li>
          <li id="login">
            <a href="#">login</a>
          </li>
        </ul>
      </div>

      <div class="content-container">
        <form action="/submit" method="post">
          <label for="post">Username: </label>
          <input required type="text" name="user" id="user" />
          <br>
          <label for="post">Article Title: </label>
          <input required type="text" name="title" id="title" />
          <br>
          <label for="post">Article URL: </label>
          <input required type="url" name="url" id="url" />
          <br>
          <textarea required cols="40" rows="4" name="description" id="description" pattern=".{5,100}" placeholder="Please enter a brief descrition of the article, between 20 and 140 characters."></textarea>
          <br>
          <input type="submit" value="Submit" />
        </form>
      </div>

      <div class="footer-container" >
        <ul class="footer-links">
          <li><a href="#" class="footer-link">Lists</a></li>
          <li> | </li>
          <li><a href="#" class="footer-link">RSS</a></li>
          <li> | </li>
          <li><a href="#" class="footer-link">Bookmarklet</a></li>
          <li> | </li>
          <li><a href="#" class="footer-link">Guidelines</a></li>
          <li> | </li>
          <li><a href="#" class="footer-link">FAQ</a></li>
          <li> | </li>
          <li><a href="#" class="footer-link">DMCA</a></li>
          <li> | </li>
          <li><a href="#" class="footer-link">News News</a></li>
          <li> | </li>
          <li><a href="#" class="footer-link">Feature Requests</a></li>
          <li> | </li>
          <li><a href="#" class="footer-link">Bugs</a></li>
          <li> | </li>
          <li><a href="#" class="footer-link">Y Combinator</a></li>
          <li> | </li>
          <li><a href="#" class="footer-link">Apply</a></li>
          <li> | </li>
          <li><a href="#" class="footer-link">Library</a></li>
        </ul>
      </div>

    </div>

  </body>

</html>
